---
import About from '../components/About.astro';
import Home from '../components/Home.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Nahuel Pedroso">
	<main>
		<Home/>
    <About/>
	</main>
</Layout>

