---
import CloseIcon from "./icons/CloseIcon.astro";

import MenuIcon from "./icons/MenuIcon.astro";
---

<nav class="fixed z-50 w-full py-4 bg-my-dark-purple">
  <div
    class="container flex items-center justify-between h-12 px-4 mx-auto rounded-xl text-my-white"
  >
    <div class="flex items-center text-lg font-bold">
      <img src="/logo.svg" alt="Nahuel Logo" class="w-12" />
    </div>
    <!-- {`${isOpen ? "left-0" : "left-full"} -->
    <div
      id="nav"
      class=`fixed md:static top-0 left-full uppercase bg-my-dark-purple   py-6 md:p-0 px-4   flex flex-col items-end md:flex-row md:items-center md:justify-end  w-full h-screen md:h-auto gap-4 !bg-opacity-100  transition-all`
    >
      <!-- onClick={() => setIsOpen(!isOpen)} -->

      <button
        id="close"
        aria-label="Close Menu"
        class="w-8 h-8 transition-colors fill-white md:hidden"
        ><CloseIcon /></button
      >
      <a
        href="#home"
        class="w-full py-2 text-center transition-colors md:px-4 md:w-auto hover:text-my-purple"
      >
        Home
      </a>
      <a
        href="#about"
        class="w-full py-2 text-center transition-colors md:px-4 md:w-auto hover:text-my-purple"
      >
        About
      </a>
      <a
        href="#projects"
        class="w-full py-2 text-center transition-colors md:px-4 md:w-auto hover:text-my-purple"
      >
        Projects
      </a>
      <a
        href="#contact"
        class="w-full py-2 text-center transition-colors md:px-4 md:w-auto hover:text-my-purple"
      >
        Contact
      </a>
      <!-- onClick={() => setIsOpen(!isOpen)} -->
    </div>
    <button
    id="open"
      aria-label="Open Menu"
      class="w-8 h-8 transition-colors fill-white md:hidden"
      ><MenuIcon /></button
    >
  </div>
</nav>

<script>
  const openBtn = document.querySelector("#open");
  const closeBtn = document.querySelector("#close");
  const navbar = document.querySelector("#nav");

  openBtn?.addEventListener("click",()=>{
    console.log('ejecuta');
    navbar?.classList.add("left-0")
    navbar?.classList.remove("left-full")
  })

  closeBtn?.addEventListener("click",()=>{
    navbar?.classList.add("left-full")
    navbar?.classList.remove("left-0")
  })


</script>
